<div class="thebod" style="background-color: grey ;padding-top: 50px;">
</div>
    <div style="margin-top: -25px; margin-right: 85%; ">
        <mat-list-item style="padding: 15px;">
        <a routerLink="/menubar" routerLinkActive="active" mat-raised-button color="accent">
            <mat-icon>keyboard_backspace</mat-icon>Retour
        </a>
    </mat-list-item>
    </div>
    
<div class="cardcontainer">
<!-- Parametrage Status -->
<mat-card class="card-class" style="background-color: #a8e6cf;">
    <a href="paramStatu">
    <mat-card-header>
        <mat-card-title>Status</mat-card-title>
        <mat-card-subtitle>Parametrage des status du système </mat-card-subtitle>
    </mat-card-header>
</a>
    <img mat-card-image src="../../../assets/Image/settings.gif"/>
    <mat-card-content>
        
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>
<!-- Parametrage Priorité -->
<mat-card class="card-class" style="background-color: #dcedc1;">
    <a href="paramPrio">
    <mat-card-header>
        <mat-card-title>Priorités</mat-card-title>
        <mat-card-subtitle>Parametrage des Priorités du système </mat-card-subtitle>
    </mat-card-header>
    </a>
    <img mat-card-image src="../../../assets/Image/settings.gif"/>
    <mat-card-content>
        
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>
<!-- Parametrage Date -->
<mat-card class="card-class" style="background-color: #ffd3b6;">
    <a href="paramDate">
    <mat-card-header>
        <mat-card-title>Dates</mat-card-title>
        <mat-card-subtitle>Parametrage des Dates du système </mat-card-subtitle>
    </mat-card-header>
    </a>
    <img mat-card-image src="../../../assets/Image/settings.gif"/>
    <mat-card-content>
        
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>
<!-- Parametrage Réfèrence -->
<mat-card class="card-class" style="background-color: #ffaaa5;">
    <a href="paramRef">
    <mat-card-header>
        <mat-card-title>Réfèrences</mat-card-title>
        <mat-card-subtitle>Parametrage des Réfèrences du système </mat-card-subtitle>
    </mat-card-header>
    </a>
    <img mat-card-image src="../../../assets/Image/settings.gif"/>
    <mat-card-content>
        
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>
<!-- Parametrage charge -->
<mat-card class="card-class" style="background-color: #C39BD3;">
    <a href="paramChar">
    <mat-card-header>
        <mat-card-title>Charges</mat-card-title>
        <mat-card-subtitle>Parametrage des charges du système </mat-card-subtitle>
    </mat-card-header>
    </a>
    <img mat-card-image src="../../../assets/Image/settings.gif"/>
    <mat-card-content>
        
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>
</div>