<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Objet demande</mat-label>
      <input matInput>
    </mat-form-field>

<table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
        <mat-label>Planifié</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Opportunité</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>BU</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr>
</table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Résumé</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Contexte et Remarques</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Anticipation</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Charge</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Domaine</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>

    <p>
      <mat-form-field class="example-full-width">
        <mat-label>ContrainteClient</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Reference I</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Reference P</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Reference C</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr>
    <tr>
      <td>
        <div id="dropdownsbut">       
          <button type="button" class="btn btn-primary" >
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Trigramme
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li></button> 
    </div>
    </td>
        <td><div id="dropdownsbut">       <button type="button" class="btn btn-primary" >
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Statut
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Annulé</a></li>
            <li><a class="dropdown-item" href="#">Cloturer</a></li>
            <li><a class="dropdown-item" href="#">En Cours</a></li>
            <li><a class="dropdown-item" href="#">Livrée/Répondu</a></li>
            <li><a class="dropdown-item" href="#">Nouveau</a></li>
            <li><a class="dropdown-item" href="#">Claification terminé</a></li>
          </ul>
        </li></button> </div>
      </td>
      <td><div id="dropdownsbut">       
        <button type="button" class="btn btn-primary" >
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Phase
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">1</a></li>
          <li><a class="dropdown-item" href="#">2</a></li>

        </ul>
      </li></button> </div>
    </td>
    </tr>
  </table>
 <div id="dropdownsbut" style="margin-top: 25px;">
  <button type="button" class="btn btn-success">Enregistrer</button>
 </div>
  </form>
  