<div class="modal-container">
    <h2>Détails</h2>
    <ul>
      <li *ngFor="let employee of employees" class="employee-item">
        <div class="profile-picture">
          <img [src]="employee.profilePicture" alt="Photo de profil">
        </div>
        <div class="employee-details">
          <p><strong>Nom :</strong> {{ employee.lastName }}</p>
          <p><strong>Prénom :</strong> {{ employee.firstName }}</p>
          <p><strong>Email :</strong> {{ employee.email }}</p>
          <p><strong>Mot de passe :</strong> {{ employee.password }}</p>
          <p><strong>Type de profil :</strong> {{ employee.profileType }}</p>
        </div>
      </li>
    </ul>
  
 
