<div class="d-flex align-items-center">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        {{ selectedValue }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" (click)="selectedValue = 'date de debut'; updateLabel()">date de debut</a></li>
        <li><a class="dropdown-item" (click)="selectedValue = 'date intermédiaire'; updateLabel()">date intermédiaire</a></li>
        <li><a class="dropdown-item" (click)="selectedValue = 'date de fin'; updateLabel()">date de fin</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="selectedValue = 'autre'; updateLabel()">autre</a></li>
      </ul>
    </div>
  
    <div class="form-group ml-3 mb-0">
      <label for="exampleInputEmail1" class="form-label" aria-placeholder="jj/mm/aaaa"></label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
    </div>
  </div>
  