<div class="container">
  <form class="example-form" [formGroup]="myform" (ngSubmit)="save()">
      <p>
          <mat-form-field appearance="fill">
            <mat-label>Type de Charge</mat-label>
            <input matInput placeholder="Type de Charge" formControlName="typeCharge" required >
            <mat-icon matSuffix>public</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>valeur de Charge</mat-label>
            <input matInput placeholder="valeur de Charge" formControlName="valeurCharge" required>
            <mat-icon matSuffix>merge_type</mat-icon>
            <mat-hint>valeur de Charge</mat-hint>
          </mat-form-field>
        </p>
      
        <p>      
          <button mat-fab extended color="accent" [disabled]="myform.invalid">Valider</button>
          <button mat-fab extended color="Basic"s>Annuler</button>
      </p>
  
    </form>
  </div>