<div class="action-details">
    <h2>Action Details</h2>
    <div class="details-row">
      <p><strong>ID:</strong></p>
      <p>{{ action.id }}</p>
    </div>
    <div class="details-row">
      <p><strong>Description:</strong></p>
      <p>{{ action.descriptionAction }}</p>
    </div>
    <div class="details-row">
      <p><strong>Prochaine Action:</strong></p>
      <p>{{ action.prochainAction }}</p>
    </div>
    <div class="details-row">
      <p><strong>Demande:</strong></p>
      <p>{{ action.demande.objetDemande }}</p>
    </div>
    <div class="details-row">
      <p><strong>User:</strong></p>
      <p>{{ action.user.userEmail }}</p>
    </div>
  
    <div class="details-row">
      <p><strong>Engagement:</strong></p>
      <p>{{ action.engagement }}</p>
    </div>
    <div class="details-row">
      <p><strong>prioriteFiliere:</strong></p>
      <p>{{ action.prioriteFiliere }}</p>
    </div>
    <div class="details-row">
      <p><strong>Date de début:</strong></p>
      <p>{{ action.debutAction }}</p>
    </div>
    <div class="details-row">
      <p><strong>Date de fin:</strong></p>
      <p>{{ action.finAction }}</p>
    </div>
    
  </div>
  